<p id="notice"><%= notice %></p>
<%= search_form_for @q do |f|%>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name_cont %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email_cont %>
  </div>
  <%= f.submit "Search", class: "btn btn-primary" %>
  <%= link_to "Clear", request.path, class: "btn btn-danger text-white" %>
<% end %>
<table class="table-responsive table-bordered table-striped text-center mb-3">
  <%= render 'table_header' %>
  <tbody>
    <% @students.each do |student| %>
      <%= render 'student', student: student %>
    <% end %>
  </tbody>
</table>
<%= paginate @students %>
  <br>
<%= link_to 'New Student', new_student_path %>
